<h2>My tasks & activities </h2>
<div class="todos">
  <form (submit)="addItem($event)">
    <input [(ngModel)]="name" (keyup.enter)="name=''" name="name">
    <button  type="submit" [disabled]="name===''">Add Todo</button>
  </form>
</div>
<div [hidden]="!name">
  Typing: {{name }}
</div>
<ul>
  <li *ngFor="let item of items; let i=index" (click)="onSelect(item)">
    <input type="checkbox" class="checkbox" [(ngModel)]="item.completed" />
    <span [ngClass]="{'checked': item.completed}">{{ item.name }}</span>
      <span (click)="deleteTodo(i)" class="delete-icon">[X]</span>
  </li>
</ul>


<app-item-detail [item]="currentItem"></app-item-detail>
