<h2>My tasks & activities </h2>
<ul class="heroes">
  <li *ngFor="let activity of items" [class.selected]="activity === currentItem" (click)="onSelect(activity)">
    <span class="badge"># {{activity.id}}</span> {{activity.name}}
  </li>
</ul>

<div *ngIf="currentItem">
  <h2>{{currentItem.name | uppercase}} Details</h2>
  <div><span>id: </span>{{currentItem.id}}</div>
  <div><span>name: </span>{{currentItem.name}}</div>
  <div>
    <label>name: <input [(ngModel)]="currentItem.name" placeholder="name"/>
    </label>
  </div>
</div>
